* {
    margin: 5px;
    padding: 5px;
}

body {
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


ul {
    background-color: cornsilk;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}